# Renta de Bicicletas

## Prediccion de la demanda en el alquiler de bicicletas

**librerias**

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from math import sqrt
import pickle

import matplotlib.pyplot as plt
%matplotlib inline


from sklearn.linear_model import LinearRegression as LinReg
from sklearn.preprocessing import PolynomialFeatures as PF
from sklearn.ensemble import GradientBoostingRegressor as GBR


from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

## Datos

UCI's Bike Sharing Dataset Data Set
[link](https://archive.ics.uci.edu/ml/datasets/bike+sharing+dataset)

<B>Resumen:</B> Este dataset contiene las rentas de bicicletas por hora y dia entre los años 2011 y 2012 en el sistema Capital Bikeshare con la correspondiente informacion climatologica y estacional.

**Atributos:**


Ambos csv tienen los siguientes campos, excepto hr que no esta en day.csv

- **instant**: indice
- **dteday** : fecha
- **season** : estacion (1:primavera, 2:verano, 3:otoño, 4:invierno)
- **yr** : año (0: 2011, 1:2012)
- **mnth** : mes ( 1 to 12)
- **hr** : hora (0 to 23)
- **holiday** : dia festivo o no
- **weekday** : dia de la semana
- **workingday** : dia laborable o no
+ **weathersit** : 
    - 1: Despejado, Pocas nubes, Parcialmente nublado
    - 2: Niebla, Niebla+Nublado
    - 3: Nieve ligera, LLuvia ligera+Tormenta+Nube dispersa
    - 4: LLuvia fuerte+Hielo+Tormenta+Niebla,Nieve+Niebla
- **temp** : temperatura normalizada en grados centigrados. MinMax Scaler (t-t_min)/(t_max-t_min), t_min=-8, t_max=+39 (solo en escala horaria)
- **atemp**: sensacion termica normalizada en grados centigrados. MinMax Scaler (t-t_min)/(t_max-t_min), t_min=-16, t_max=+50 (solo en escala horaria)
- **hum**: humedad normalizada, dividido entre 100 (max)
- **windspeed**: velocidad del viento normalizada, dividido entre 67 (max)
- **casual**: cuenta de usuarios casuales
- **registered**: cuenta de usuarios registrados
- **cnt**: cuenta total del alquiler de bicicletas, incluyendo tanto los casuales como los registrados

In [2]:
hour_df=pd.read_csv('data/hour.csv')  # datos por hora
day_df=pd.read_csv('data/day.csv')    # datos por dia

hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [3]:
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600