# Usando Google Maps para prdecir crimenes

**Ciudad : San Franscisco**

In [1]:
import warnings
warnings.simplefilter('ignore')

In [2]:
# librerias

import numpy as np 
import pandas as pd 
import datetime
import urllib
import matplotlib.pyplot as plt

In [3]:
## Datos de crimenes
df_raw=pd.read_csv('https://data.sfgov.org/api/views/q6gg-sa2p/rows.csv?accessType=DOWNLOAD')
#df_raw=pd.read_csv('data/sf-crime-horizon.csv')
df_raw.head()

,CAT,Day_of_month,Month_of_year,Day_Segment,Longitude,Latitude,Year,Count
0,IMPAIRED,1,1,0,-122.444,37.714,1,1
1,IMPAIRED,1,1,0,-122.421,37.749,1,1
2,IMPAIRED,1,1,0,-122.417,37.773,1,1
3,IMPAIRED,1,1,0,-122.410,37.783,1,1
4,IMPAIRED,1,1,0,-122.402,37.781,1,1

In [4]:
#df_raw.to_csv('data/raw_data.csv', index=False)

In [5]:
df_raw.columns

Index(['CAT', 'Day_of_month', 'Month_of_year', 'Day_Segment', 'Longitude',
       'Latitude', 'Year', 'Count'],
      dtype='object')

In [6]:
df_raw.shape

(134449, 8)

In [7]:
df_raw.isna().sum()

CAT              0
Day_of_month     0
Month_of_year    0
Day_Segment      0
Longitude        0
Latitude         0
Year             0
Count            0
dtype: int64

In [8]:
df_raw.describe()

,Day_of_month,Month_of_year,Day_Segment,Longitude,Latitude,Year,Count
count,134449.000000,134449.000000,134449.000000,134449.000000,134449.000000,134449.000000,134449.000000
mean,15.529108,5.581023,1.033388,-122.426501,37.767866,1.166584,1.166584
std,8.795925,3.466417,0.807295,0.026148,0.021832,0.489993,0.489993
min,1.000000,1.000000,0.000000,-122.514000,37.708000,1.000000,1.000000
25%,8.000000,3.000000,0.000000,-122.436000,37.757000,1.000000,1.000000
50%,15.000000,5.000000,1.000000,-122.419000,37.775000,1.000000,1.000000
75%,23.000000,9.000000,2.000000,-122.408000,37.784000,1.000000,1.000000
max,31.000000,12.000000,2.000000,-122.391000,37.799000,11.000000,11.000000

In [9]:
df_raw.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134449 entries, 0 to 134448
Data columns (total 8 columns):
CAT              134449 non-null object
Day_of_month     134449 non-null int64
Month_of_year    134449 non-null int64
Day_Segment      134449 non-null int64
Longitude        134449 non-null float64
Latitude         134449 non-null float64
Year             134449 non-null int64
Count            134449 non-null int64
dtypes: float64(2), int64(5), object(1)
memory usage: 15.2 MB

In [10]:
# seleccion y limpieza de datos

df=df_raw[['Category', 'DayOfWeek', 'Date', 'Time', 'X', 'Y']]
df.columns=['Category', 'DayOfWeek', 'Date', 'Time', 'Longitude', 'Latitude']

df=df.dropna()
df.head()

KeyError: "None of [Index(['Category', 'DayOfWeek', 'Date', 'Time', 'X', 'Y'], dtype='object')] are in the [columns]"

In [ ]:
# exploracion

df.Category.value_counts()

In [11]:
df.head()

NameError: name 'df' is not defined