# Usando Google Maps para prdecir crimenes

**Ciudad : San Franscisco**

In [10]:
import warnings
warnings.simplefilter('ignore')

In [1]:
# librerias

import numpy as np 
import pandas as pd 
import datetime
import urllib
import matplotlib.pyplot as plt

In [2]:
## Datos de crimenes
df_raw=pd.read_csv('https://data.sfgov.org/api/views/q6gg-sa2p/rows.csv?accessType=DOWNLOAD')
df_raw.head()

/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location
0,110308742,MISSING PERSON,FOUND PERSON,Friday,04/15/2011,16:00,TARAVAL,LOCATED,0 Block of CRESPI DR,-122.476328,37.719687,"(37.7196874952717, -122.476327815126)"
1,90316914,WARRANTS,WARRANT ARREST,Thursday,03/26/2009,12:28,SOUTHERN,"ARREST, BOOKED",1000 Block of MARKET ST,-122.411340,37.781271,"(37.7812707434494, -122.411339562557)"
2,130132311,SECONDARY CODES,DOMESTIC VIOLENCE,Friday,02/15/2013,02:00,PARK,"ARREST, BOOKED",CASTRO ST / MARKET ST,-122.435188,37.762670,"(37.7626702770872, -122.435187699349)"
3,80052833,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Tuesday,01/15/2008,20:13,MISSION,"ARREST, CITED",VALENCIA ST / 16TH ST,-122.421886,37.764918,"(37.7649178909424, -122.421886357981)"
4,70535770,SECONDARY CODES,DOMESTIC VIOLENCE,Saturday,05/26/2007,18:10,MISSION,"ARREST, BOOKED",2800 Block of FOLSOM ST,-122.413935,37.751693,"(37.7516932889916, -122.413935404044)"

In [3]:
#df_raw.to_csv('data/raw_data.csv', index=False)

In [4]:
df_raw.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location'],
      dtype='object')

In [5]:
df_raw.shape

(783251, 12)

In [7]:
df_raw.isna().sum()

IncidntNum    0
Category      4
Descript      5
DayOfWeek     5
Date          5
Time          5
PdDistrict    5
Resolution    5
Address       5
X             5
Y             5
Location      5
dtype: int64

In [8]:
df_raw.describe()

                   X              Y
count  783246.000000  783246.000000
mean     -122.422636      37.771209
std         0.030838       0.480070
min      -122.513642      37.707879
25%      -122.432952      37.752239
50%      -122.416452      37.775421
75%      -122.406981      37.784297
max      -120.500000      90.000000

In [9]:
df_raw.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783251 entries, 0 to 783250
Data columns (total 12 columns):
IncidntNum    783251 non-null object
Category      783247 non-null object
Descript      783246 non-null object
DayOfWeek     783246 non-null object
Date          783246 non-null object
Time          783246 non-null object
PdDistrict    783246 non-null object
Resolution    783246 non-null object
Address       783246 non-null object
X             783246 non-null float64
Y             783246 non-null float64
Location      783246 non-null object
dtypes: float64(2), object(10)
memory usage: 523.8 MB

In [12]:
# seleccion y limpieza de datos

df=df_raw[['Category', 'DayOfWeek', 'Date', 'Time', 'X', 'Y']]
df.columns=['Category', 'DayOfWeek', 'Date', 'Time', 'Longitude', 'Latitude']

df=df.dropna()
df.head()

          Category DayOfWeek        Date   Time   Longitude   Latitude
0   MISSING PERSON    Friday  04/15/2011  16:00 -122.476328  37.719687
1         WARRANTS  Thursday  03/26/2009  12:28 -122.411340  37.781271
2  SECONDARY CODES    Friday  02/15/2013  02:00 -122.435188  37.762670
3   OTHER OFFENSES   Tuesday  01/15/2008  20:13 -122.421886  37.764918
4  SECONDARY CODES  Saturday  05/26/2007  18:10 -122.413935  37.751693

In [14]:
# exploracion

df.Category.value_counts()

LARCENY/THEFT                  150272
OTHER OFFENSES                 113254
NON-CRIMINAL                    80287
ASSAULT                         69118
DRUG/NARCOTIC                   50725
VEHICLE THEFT                   49215
VANDALISM                       40374
WARRANTS                        37748
BURGLARY                        33023
SUSPICIOUS OCC                  28188
MISSING PERSON                  22920
ROBBERY                         20521
FRAUD                           14745
FORGERY/COUNTERFEITING          10229
SECONDARY CODES                  8703
WEAPON LAWS                      7552
PROSTITUTION                     7260
TRESPASS                         6558
DISORDERLY CONDUCT               4026
STOLEN PROPERTY                  3987
DRUNKENNESS                      3935
SEX OFFENSES, FORCIBLE           3830
RECOVERED VEHICLE                3213
DRIVING UNDER THE INFLUENCE      2094
KIDNAPPING                       2022
LIQUOR LAWS                      1808
RUNAWAY                          1805
ARSON                            1332
EMBEZZLEMENT                     1153
LOITERING                        1137
SUICIDE                           494
FAMILY OFFENSES                   453
BAD CHECKS                        399
EXTORTION                         286
BRIBERY                           267
SEX OFFENSES, NON FORCIBLE        146
GAMBLING                          145
PORNOGRAPHY/OBSCENE MAT            17
TREA                                5
Name: Category, dtype: int64